name: Run Tests on PR in backend

on:
  pull_request:
    branches:
      - dev
#    paths:
#      - 'backend/**'

jobs:
  backend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          cp .env.example .env
          export OPENAI_API_KEY=${{'sk-mock-key-for-ci' }}
          bash run_tests.sh
