name: Build and Deploy

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:
    inputs:
      ignore_tests:
        description: 'Ignore failed tests?'
        type: boolean
        required: false
        default: false
  
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  backend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY || 'sk-mock-key-for-ci' }}
        run: |
          cp .env.example .env
          export OPENAI_API_KEY=${{'sk-mock-key-for-ci' }}
          bash run_tests.sh
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' && inputs.ignore_tests == true }}
  
  frontend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'   
          cache: 'npm'          
          cache-dependency-path: frontend/package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Run Unit Tests
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' && inputs.ignore_tests == true }}
        run: npm run test:unit
        
  build-and-push:
    runs-on: ubuntu-latest
    needs: [frontend-tests, backend-tests]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/qwestor-backend:latest

      - name: Build and push Frontend
        id: build-qwestor-researcher-frontend-prod
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          rm frontend/.env.development frontend/.env.example frontend/.env.production
          cat << EOF >> frontend/.env
          ${{ secrets.FRONTEND_ENV_DEV_DC}}
          EOF
          cat frontend/.env
          ls -la frontend
          git submodule init
          git submodule update
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/qwestor-frontend:latest -f frontend/Dockerfile frontend/
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/qwestor-frontend:latest
          echo "image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/qwestor-frontend:latest" >> $GITHUB_OUTPUT

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Configure SSH 
        run: |
          mkdir -p ~/.ssh/
          
          echo "${{ secrets.DC_DEV_SSH_JUMP_PRIVATE_KEY }}" > ~/.ssh/jump_key
          chmod 600 ~/.ssh/jump_key
          
          echo "${{ secrets.DC_DEV_SSH_PRIVATE_KEY }}" > ~/.ssh/target_key
          chmod 600 ~/.ssh/target_key
          
          cat > ~/.ssh/config <<EOF
          
          Host jump-server
            HostName ${{ secrets.DC_DEV_JUMP_HOST }}
            User ${{ secrets.DC_DEV_JUMP_USER }}
            Port ${{ secrets.DC_DEV_JUMP_PORT }}
            IdentityFile ~/.ssh/jump_key  
            StrictHostKeyChecking no
          
          Host k3s-server
            HostName ${{ secrets.DC_DEV_TARGET_HOST }}
            User ${{ secrets.DC_DEV_TARGET_USER }}
            Port ${{ secrets.DC_DEV_PORT }}
            ProxyJump jump-server
            IdentityFile ~/.ssh/target_key 
            StrictHostKeyChecking no
          EOF
          chmod 600 ~/.ssh/config
      
      # - name: Copy k8s configs
      #   run: |
      #     scp -r k8s/* k3s-server:~/app-deploy/

      - name: Apply K8s manifests
        run: |
          ssh k3s-server "
            export KUBECONFIG=~/.kube/config
            kubectl apply -f ~/k8s/
            
            kubectl rollout restart deployment/backend -n qwestor-dev
            kubectl rollout restart deployment/frontend -n qwestor-dev
          " 
